@import url('https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    text-decoration: none;
    color: black;
}
body { 
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Inter', sans-serif;
}
.header {
   position: fixed;
   width: 100%;
   padding: 33px 0;
   min-height: 100%;
   overflow: hidden;
   
}
.container {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 10px;
    
}
/* HEADER ------------------------------------------------------------------------------🔥*/

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_list {
    display: flex;
    gap: 33px;
}
.menu_list{
    position: relative;
}
.menu_list li {
    position: relative;
    list-style: none;
}
.menu_list a {
    text-decoration: none;
    display: flex;
    transition: .3s ease-in-out;
}
.menu_list a:hover {
    color: rgb(86, 86, 86);
}
.header__icons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
/* корзина --------------------------------------------------------------*/

.header__shopping-cart {
    position: relative;
    margin-right: 10px;
}
.cartAmount {
    position: absolute;
    top: -16px;
    right: -5px;
    font-size: 16px;
    background-color: black;
    border-radius: 3px;
    padding: 3px;
    color: white;
}
